{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- order-card start -->
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-blue order-card">
                        <div class="card-body">
                            <h6 class="text-white">
 المستندات المؤرشفة

                            </h6>
                            <h2 class="text-end text-white"><i class="feather icon-file-text float-start"></i><span  id="status_all_count">
                            </span></h2>
                            <p class="m-b-0  d-none">
                                هذا الشهر
                                <span class="float-end"> 0</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-green order-card">
                        <div class="card-body">
                            <h6 class="text-white">
                                موثق
                            </h6>
                            <h2 class="text-end text-white"><i class="feather icon-award float-start"></i>  <span id="status_1_count">0</span> 
                            </h2>
                            <p class="m-b-0 d-none">
                                 هذا الشهر
                                <span class="float-end">0</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-yellow order-card">
                        <div class="card-body">
                            <h6 class="text-white">
                                قيد المراجعة
                            </h6>
                            <h2 class="text-end text-white"><i
                                    class="feather icon-repeat float-start"></i><span id="status_0_count">0</span></h2>
                            <p class="m-b-0  d-none">
                                 هذا الشهر
                                <span class="float-end">0</span></p>
                        </div>
                    </div>
                </div>
                    
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-red order-card">
                        <div class="card-body">
                            <h6 class="text-white">
                                مرتجع
                            </h6>
                            <h2 class="text-end text-white"><i
                                    class="feather icon-repeat float-start"></i><span id="status_2_count">0</span></h2>
                            <p class="m-b-0  d-none">This Month<span class="float-end">0</span></p>
                        </div>
                    </div>
                </div>


                <!-- order-card end -->
                <!-- users visite start -->
                <div class="col-md-12 col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Unique Visitor</h5>
                        </div>
                        <div class="card-body ps-0 pb-0">
                            <div id="unique-visitor-chart"></div>
                        </div>
                    </div>
                </div>



                <div class="col-md-12 col-xl-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body bg-patern">
                                    <div class="row">
                                        <div class="col-auto">
                                            <span>
                                  حصص الفروع           </span>
                                        </div>
                                        <div class="col text-end">
                                            <h2 class="mb-0"
                                            id="total_chart_branch">0</h2>
                                            <span class="text-c-green d-none">8.2%<i class="feather icon-trending-up ms-1"></i></span>
                                        </div>
                                    </div>
                                    <div id="customer-chart"></div>
                                    <div class="row mt-3 d-none">
                                        <div class="col">
                                            <h3 class="m-0"><i class="fas fa-circle f-10 m-r-5 text-success"></i>674</h3>
                                            <span class="ms-3">New</span>
                                        </div>
                                        <div class="col">
                                            <h3 class="m-0"><i class="fas fa-circle text-primary f-10 m-r-5"></i>182</h3>
                                            <span class="ms-3">Return</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                      
                      
                        <div class="col-sm-6">
                            <div class="card bg-primary text-white">
                                <div class="card-body bg-patern-white">
                                    <div class="row">
                                        <div class="col-auto">
                                            <span>
                                   حصص الايام خلال الشهر         </span>
                                        </div>
                                        <div class="col text-end">
                                            <h2 class="mb-0 text-white"
                                            id="total_chart_month">0</h2>
                                            <span class="text-white d-none">8.2%<i class="feather icon-trending-up ms-1"></i></span>
                                        </div>
                                    </div>
                                    <div id="customer-chart1"></div>
                                    <div class="row mt-3 d-none">
                                        <div class="col">
                                            <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-success"></i>674</h3>
                                            <span class="ms-3">New</span>
                                        </div>
                                        <div class="col">
                                            <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-white"></i>182</h3>
                                            <span class="ms-3">Return</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        
                        
                        
                                              
                        <div class="col-sm-6">
                            <div class="card bg-success text-white">
                                <div class="card-body bg-patern-white">
                                    <div class="row">
                                        <div class="col-auto">
                                            <span>
                                 الحصص السنوية                      </span>
                                        </div>
                                        <div class="col text-end">
                                            <h2 class="mb-0 text-white"
                                            id="total_chart_year">0</h2>
                                            <span class="text-white d-none">8.2%<i class="feather icon-trending-up ms-1"></i></span>
                                        </div>
                                    </div>
                                    <div id="customer-chart2"></div>
                                    <div class="row mt-3 d-none">
                                        <div class="col">
                                            <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-success"></i>674</h3>
                                            <span class="ms-3">New</span>
                                        </div>
                                        <div class="col">
                                            <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-white"></i>182</h3>
                                            <span class="ms-3">Return</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <!-- users visite end -->





            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>

<script>
    getreport();
    function getreport(){
        $.ajax({
            url: '/report/documents',
            type: 'GET',
            data: {},  // بدون بيانات
            success: function (response) {
                if (response.success) {
                    $('#status_all_count').html(`${response.status_all_count}`);
                    $('#status_0_count').html(`${response.status_0_count}`);
                        $('#status_1_count').html(`${response.status_1_count}`);
                        $('#status_2_count').html(`${response.status_2_count}`);
                } else {
                    $('#result').html('خطأ: ' + response.error);
                }
            },
            error: function () {
                $('#result').html('فشل الاتصال بالخادم.');
            }
        });
    }
                            
</script>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- Apex Chart -->
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>

    <!-- custom-chart js -->
    <script sr="/static/assets/js/pages/dashboard-main.js"></script>
<script>
  
  
  fetch('/getdataarchivs') // غيّر المسار حسب API الحقيقي
  .then(response => response.json())
  .then(data => {
    const branchData = data.by_branch;

    // استخراج labels والأرقام
    const labels = Object.keys(branchData).map(branchId => `الفرع ${branchId}`);
    const series = Object.values(branchData);
// حساب المجموع الكلي
const total_chart_branch = series.reduce((acc, value) => acc + value, 0);
document.getElementById('total_chart_branch').innerHTML=total_chart_branch+"";
    const options = {
      chart: {
        height: 150,
        type: 'donut',
      },
      dataLabels: {
        enabled: false
      },
      plotOptions: {
        pie: {
          donut: {
            size: '75%'
          }
        }
      },
      labels: labels,
      series: series,
      legend: {
        show: true
      },
      tooltip: {
        theme: 'dark'
      },
      grid: {
        padding: {
          top: 20,
          right: 0,
          bottom: 0,
          left: 0
        },
      },
      colors: ["#4680ff", "#2ed8b6", "#ff5252", "#ffcb6b", "#00bcd4", "#4caf50"], // أضف المزيد حسب عدد الفروع
      fill: {
        opacity: 1
      },
      stroke: {
        width: 0,
      }
    };

    const chart = new ApexCharts(document.querySelector("#customer-chart"), options);
    chart.render();
    
    
    
    
      const daysdata = data.by_day;

    // استخراج labels والأرقام
    const labelsdays = Object.keys(daysdata).map(branchId => ` ${branchId}`);
    const seriesdays = Object.values(daysdata);

// حساب المجموع الكلي
const total_chart_month = seriesdays.reduce((acc, value) => acc + value, 0);
document.getElementById('total_chart_month').innerHTML=total_chart_month+"";

    const options2 = {
      chart: {
        height: 150,
        type: 'donut',
      },
      dataLabels: {
        enabled: false
      },
      plotOptions: {
        pie: {
          donut: {
            size: '75%'
          }
        }
      },
      labels: labelsdays,
      series: seriesdays,
      legend: {
        show: true
      },
      tooltip: {
        theme: 'dark'
      },
      grid: {
        padding: {
          top: 20,
          right: 0,
          bottom: 0,
          left: 0
        },
      },
      colors: ["#4680ff", "#2ed8b6", "#ff5252", "#ffcb6b", "#00bcd4", "#4caf50"], // أضف المزيد حسب عدد الفروع
      fill: {
        opacity: 1
      },
      stroke: {
        width: 0,
      }
    };

    const chart2 = new ApexCharts(document.querySelector("#customer-chart1"),
    options2);
    chart2.render();
    
    
    
    
    
    
    const yearsdata = data.by_year;

    // استخراج labels والأرقام
    const labelsyears = Object.keys(yearsdata).map(branchId => ` ${branchId}`);
    const seriesyears= Object.values(yearsdata);

// حساب المجموع الكلي
const total_chart_year= seriesyears.reduce((acc, value) => acc + value, 0);
document.getElementById('total_chart_year').innerHTML=total_chart_year+"";

    const options3 = {
      chart: {
        height: 150,
        type: 'donut',
      },
      dataLabels: {
        enabled: false
      },
      plotOptions: {
        pie: {
          donut: {
            size: '75%'
          }
        }
      },
      labels: labelsyears,
      series: seriesyears,
      legend: {
        show: true
      },
      tooltip: {
        theme: 'dark'
      },
      grid: {
        padding: {
          top: 20,
          right: 0,
          bottom: 0,
          left: 0
        },
      },
      colors: ["#4680ff", "#2ed8b6", "#ff5252", "#ffcb6b", "#00bcd4", "#4caf50"], // أضف المزيد حسب عدد الفروع
      fill: {
        opacity: 1
      },
      stroke: {
        width: 0,
      }
    };

    const chart3 = new ApexCharts(document.querySelector("#customer-chart2"),
    options3);
    chart3.render();
    
    
    
    
  })
  .catch(error => {
    console.error("فشل تحميل بيانات الفروع:", error);
  });


/*
     (function () {
        var options = {
            chart: {
                height: 150,
                type: 'donut',
            },
            dataLabels: {
                enabled: false
            },
            plotOptions: {
                pie: {
                    donut: {
                        size: '75%'
                    }
                }
            },
            labels: ['New', 'Return'],
            series: [39, 10],
            legend: {
                show: false
            },
            tooltip: {
                theme: 'datk'
            },
            grid: {
                padding: {
                    top: 20,
                    right: 0,
                    bottom: 0,
                    left: 0
                },
            },
            colors: ["#4680ff", "#2ed8b6"],
            fill: {
                opacity: [1, 1]
            },
            stroke: {
                width: 0,
            }
        }
        var chart = new ApexCharts(document.querySelector("#customer-chart"), options);
        chart.render();
        var options1 = {
            chart: {
                height: 150,
                type: 'donut',
            },
            dataLabels: {
                enabled: false
            },
            plotOptions: {
                pie: {
                    donut: {
                        size: '75%'
                    }
                }
            },
            labels: ['New', 'Return'],
            series: [20, 15],
            legend: {
                show: false
            },
            tooltip: {
                theme: 'dark'
            },
            grid: {
                padding: {
                    top: 20,
                    right: 0,
                    bottom: 0,
                    left: 0
                },
            },
            colors: ["#fff", "#2ed8b6"],
            fill: {
                opacity: [1, 1]
            },
            stroke: {
                width: 0,
            }
        }
        var chart = new ApexCharts(document.querySelector("#customer-chart1"), options1);
        chart.render();
    })();*/
</script>
{% endblock javascripts %}
