    

    
    <script sr="https://cdn.jsdelivr.net/npm/bootstrap-table@1.24.1/dist/bootstrap-table.min.js"></script>

    <link rel="stylesheet" hre="/static/assets/bootstrap-table.css">
    <script src="/static/assets/bootstrap-table.min.js"></script>
    <script src="/static/assets/js/plugins/popper.min.js"></script>
    <script src="/static/assets/js/plugins/perfect-scrollbar.min.js"></script>

         <!--  <script
         src="/static/assets/js/plugins/bootstrap.min.js"></script>-->
 <script src="/static/assets/js/pcoded.js"></script>
    